.env
settings.json
*__pycache__
*.vscode
*.pytest_cache
.secrets
data/raw/train_data.tsv
.dvc/config.local
.dvc/cache
.dvc/tmp
/.dvc/plots/cache

# DVC outputs not needed in repo
data
metrics
models
release_models
model_release.zip